{{!
{
  "name" : "one",
  "decription" : "A Demo Template",
  "styles" : ["one"]
}
}}
<div class="best class ever">
  This plugin is my {{ adjective }} plugin ever.

  <br />

  Seriously, {{yeller adjective}}
  <br />

  {{> template_coolPartial }}
  <br />
  i18n2: {{$ "key2"}}
</div>
